*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // overflow: hidden;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

$colorSideNav:#43425D;

